<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paugustobriga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAugustobriga">
        <activity
            android:name=".pAbajo.Examenes.AcEstadisticas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pAbajo.Examenes.AclGenerica"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pAbajo.Examenes.AcAnadirExamen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pAbajo.Examenes.AcAnadirAsignatura"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pAbajo.Examenes.AcAnadirTrimestre"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pAbajo.Examenes.AcExamenes"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".pAbajo.Agenda.AcNotificacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pMedio.calendario.AcCalendario"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pAbajo.Agenda.AcAnadirTarea"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pAbajo.Agenda.AcVerTareasDia"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pAbajo.Agenda.AcVerTareas"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".pAbajo.Agenda.AcCalendarioAgenda"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pMedio.Proyectos.AcProyectos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pMedio.Profesorado.AcOrganizacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pMedio.Profesorado.AcTutorias"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pMedio.Profesorado.AcDepartamentos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pMedio.Profesorado.AcProfesorado"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pArriba.NuestroCentro.AcNuestroCentro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pArriba.Horarios.AcCursos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pArriba.Horarios.AcHorarios"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcPrincipal"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>